.savednews-content{
    margin:0 auto;
    max-width: 1440px;
    background-color: #F5F6F7;
    padding: 62px 0px;
    box-sizing: border-box;

}

.savednews-elements {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-template-rows: auto;
    grid-gap: 16px;
    box-sizing: border-box;
  }
  
  /* @media screen and (max-width: 950px) {
    .elements {
      margin-top: 32px;
    }
  } */



.savednews-card {
    max-width: 400px;
    max-height: 576px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 0;
    position: relative;
  }

  .savednews-card__img {
    width: 400px;
    height: 272px;
    object-fit: cover;
    position: center;
}


  .savednews-card__text-container {
    color: black;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 24px 24px 24px;

  }

  .savednews-card__date {
    margin: 0 0 12px 0;
    padding: 0;
    text-align: left;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#B6BCBF;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .savednews-card__title {
    margin: 0 0 16px 0;
    padding: 0;
    max-width: 352px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    font-family: "Roboto Slab", "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2;
    text-align: left;
    color:#1A1B22;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .savednews-card__text {
    margin: 0 0 18px 0;
    padding: 0;
    max-width: 352px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
            line-clamp: 5; 
    -webkit-box-orient: vertical;
    font-family: "Roboto", "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    text-align: left;
    color:#1A1B22;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .savednews-card__source {
    margin: 0;
    padding: 0;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Roboto Slab", "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
    color:#B6BCBF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

.savednews-card__save-button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 8px;
    background-image: url("../../images/Trash.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all linear 0.3s;
    cursor: pointer;
  }
  
  .savednews-card__save-button:hover {
    background-image: url("../../images/Trash_black.svg");
  }

  .savednews-card__save-button:hover:after { 
    width: 159px;
    max-height: 40px;
    content: "Remove from saved"; 
    position: absolute;
    top: 0;
    right: 45px;
    background-color: #FFFFFF;
    color:#1A1B22;
    font-family: "Roboto", "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    padding:12.90px 11px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
}
  
  .savednews-card__save-button_visible {
    display: block;
  }
  
  .savednews-card__save-button_hidden {
    display: none;
  }

  .savednews-card__keyword {
    /* width: 40px;
    height: 40px; */
    margin:0;
    position: absolute;
    top: 24px;
    left: 24px;
    border-radius: 8px;
    /* background-image: url("../../images/Trash.svg");
    background-repeat: no-repeat;
    background-position: center; */
    background-color: #fff;
    border: none;
    outline: none;
    color:#1A1B22;
    font-family: "Roboto", "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    padding:11.61px 22px;
    border: none;
    border-radius: 10px;
  }
  

  .content__show-more-button{
    color:#1A1B22;
    font-family: "Roboto", "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    background-color: #ffffff;
    padding:20px 97px;
    text-align: center;
    border: none;
    width: 288px;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    margin:0 auto 0 auto;
    box-sizing: border-box;
    cursor: pointer;
  }

  .content__show-more-button:hover{
  background-color: #E8E8E8;
}


    