.about{
    display: flex;
    align-items: flex-start;
    margin:0;
    max-width: 1440px;
    margin:0 auto;

}

.about__image{
    max-width: 464px;
    margin: 80px 56px 80px 104px;
}

.about__text{
    margin: 131px 0 0 0;
}

.about__title{
    max-width: 600px;
    margin:0;
    font-family: "Roboto Slab", "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.07;
    text-align: left;
    color:#1A1B22;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.about__description{
    max-width: 600px;
    margin:0;
    font-family: "Roboto", "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 25px;
    line-height: 1.3;
    text-align: left;
    color:#1A1B22;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}