.footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 106px 26px 104px;
    max-width: 1440px;
    box-sizing: border-box;
    font-family: "Roboto", "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: left;
    color:#1A1B22;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:0 auto;

}

.footer__author{
    margin:0;
    padding:0;
    font-size: 16px;
    color:#B6BCBF;

}

.footer__menu{
    display: flex;
}

.footer__link{
    text-decoration: none;
    color:#1A1B22;
    margin:0 0 0 25px;
}

.footer__icon{}


@media screen and (max-width: 800px) {
    .footer {
        max-width: 768px;
        padding: 24px 48px 18px 40px;
    }
}

@media screen and (max-width: 500px) {
    .footer {

    }
    .footer__author{

    }

    .footer__menu{


    }
    .footer__link{

    }

}