@import url("./vendor/normalize.css");
@import url("./vendor/Fonts/fonts.css");


.page {
  background-image: url("./images/georgia-de-lotz--UsJoNxLaNo-unsplash\ \(1\).png");
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  max-height: 576px;
  margin: 0 auto;
  position: relative;
}

