@import url("./vendor/normalize.css");
@import url("./vendor/Fonts/fonts.css");


.page {
  background-image: url("./images/georgia-de-lotz--UsJoNxLaNo-unsplash\ \(1\).png");
  max-height: 580px;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

